body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: rgb(12, 12, 12);
}

h2 {
  font-size: 15px;
  color: gray;
  font-weight: 400;
  margin-top: 10px;
}

h1 {
  margin-bottom: 0;
}

img {
  max-width: 150px;
}

.red {
  color: #885df1;
  font-weight: 600;
}
.all-around {
  width: 700px;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin: 30px auto;
  display: block;
}

input {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  margin: 10px auto;
  border-radius: 10px;
  border: 0px solid;
}

footer {
  font-size: 13px;
  text-align: center;
  color: gray;
  display: block;
  margin: auto;
}

#search {
  font-weight: 600;
  background-color: #885df1;
  color: white;
  padding: 15px 0px;
  flex-basis: 30%;
}
#city {
  background-color: #d4d1db;
}
.form {
  display: flex;
  justify-content: right;
  gap: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  border-width: 0.5px;
}

.currentCity {
  display: flex;
  justify-content: space-between;
  align-content: top;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.bigNumber {
  font-size: 100px;
  font-weight: 600;
  margin: 30px 0;

  display: flex;
  justify-content: flex-end;
  font-display: top;

  line-height: 1;
}

.unit {
  font-size: 30px;
  font-weight: 400;
}
